<div>
    <img src='images/beer.png' alt="Beer Image">

    <button type="button" onclick="location.href='./beers'">Check the Beers!</button>
    <button type="button" onclick="location.href='./random-beer'">Check a Random Beer!</button>
</div>