<form action='/signup' method='POST'>
{{!-- Username --}}
    <label for='input-username'>Username</label>
    <input placeholder='Username' name='username' type='text' />
{{!-- Email --}}
    <label for='input-email'>Email</label>
    <input placeholder='Email' name='email' type='email' />
{{!-- Password --}}
    <label for='input-password'>Password</label>
    <input placeholder='*******' name='password' type='password' />
    <button type='submit'></button>
</form>