
<h2>Add a new Celebrity</h2>
<form action='/celebrities/new' method='POST'>
    <input placeholder='Name' type='text' name='name'>
    <input placeholder='Occupation' type='text' name='occupation'>
    <input placeholder='CatchPhrase' type='text' name='catchphrase'>
    <button type='submit'>Add</button>
</form>